<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Login_to_checkOut_flow.Login_to_Logout"/>
      <class name="Login_to_checkOut_flow.Login_multipleids"/>
      <class name="Login_to_checkOut_flow.Loginpage_brokenlinks"/>
      <class name="Homepage.Homepage_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
